[submodule "3rdParty/mantisbase"]
	path = 3rdParty/mantisbase
	url = https://github.com/allankoechke/mantisbase.git
[submodule "backend/3rdParty/mantisbase"]
	path = backend/3rdParty/mantisbase
	url = https://github.com/allankoechke/mantisbase.git
